{% extends 'base.html.twig' %}

{% block title %}
  Historique des commandes
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-neumorphisme p-4 bg-white rounded-custom">
                <h1 class="text-center">Historique des commandes</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.date|date('d/m/Y') }}</td>
                            <td>{{ order.total }} €</td>
                            <td>{{ order.status }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4" class="text-center">Aucune commande passée.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
