/* Styles pour la navbar */
.navbar-custom {
    background-color: #ffffff; /* Couleur de fond blanche */
    color: #000000; /* Texte noir */
    padding: 1rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #000000; /* Texte noir */
}

.navbar-custom .nav-link.active {
    color: #6c757d; /* Lien actif en gris */
}

.navbar-custom .form-inline .form-control {
    border-color: #6c757d; /* Bordure du champ de recherche */
    background-color: #ffffff; /* Fond du champ de recherche */
    color: #000000; /* Texte du champ de recherche */
}

.navbar-custom .form-inline .btn {
    color: #6c757d; /* Couleur du texte du bouton */
    border-color: #6c757d; /* Couleur de la bordure du bouton */
}

.navbar-custom .navbar-toggler {
    border-color: #6c757d; /* Couleur de la bordure du toggler */
}

.navbar-custom .form-inline {
    margin-left: auto; /* Aligne la barre de recherche à droite */
}

.form-inline{
    margin-left: auto;
}

.navbar {
    z-index: 1000;
}

.carousel-custom {
    width: 100%; /* Le carrousel prend toute la largeur disponible */
    height: 90vh; /* Hauteur de 60% de la hauteur de la fenêtre, ajustable selon vos préférences */
    max-height: 600px; /* Optionnel : Limite la hauteur maximale */
    overflow: hidden; /* Cache toute partie de l'image qui déborde */
}

.carousel-inner img {
    width: 100%; /* Les images remplissent la largeur du carrousel */
    height: 100%; /* Les images remplissent la hauteur définie */
    object-fit: cover; /* Ajuste les images pour qu'elles remplissent tout l'espace sans déformation */
}
